/bootstrap/compiled.php
/vendor/*
!/vendor/mailgun
/vendor/mailgun/*
!/vendor/mailgun/mailgun-php
/vendor/mailgun/mailgun-php/*
!/vendor/mailgun/mailgun-php/src
/vendor/mailgun/mailgun-php/src/*
!/vendor/mailgun/mailgun-php/src/Mailgun
/vendor/mailgun/mailgun-php/src/Mailgun/*
!/vendor/mailgun/mailgun-php/src/Mailgun/Connection
/vendor/mailgun/mailgun-php/src/Mailgun/Connection/*
!/vendor/mailgun/mailgun-php/src/Mailgun/Connection/RestClient.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
